[Desktop Entry]
Type=Application
Name=PyQT GUI Launcher
Exec=lxterminal -e bash -c "/home/filippo/Documents/PyQT_GUI/start_with_countdown.sh; echo 'Terminato. Premi un tasto...'; read -n 1"
StartupNotify=false
Terminal=false
