[Unit]
Description=Start PyQT GUI Application
After=multi-user.target network.target graphical.target nss-user-lookup.target
Wants=network.target graphical.target

[Service]
Type=simple
ExecStart=/usr/bin/lxterminal -e /home/filippo/Documents/PyQT_GUI/start_with_countdown.sh
WorkingDirectory=/home/filippo/Documents/PyQT_GUI
User=filippo
Restart=on-failure
RestartSec=5
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/filippo/.Xauthority

[Install]
WantedBy=multi-user.target
